chainlit==2.2.1
langchain==0.3.19
langchain-anthropic==0.3.7
langchain-community==0.3.18
langchain-core==0.3.39
langchain-google-genai==2.0.10
langchain-groq==0.2.4
langchain-openai==0.3.7
langsmith==0.3.10
python-dotenv==1.0.1
rank_bm25==0.2.2
langchain-pinecone==0.2.3
unidecode==1.3.8
pinecone==5.4.2
rapidfuzz==3.12.3
metaphone==0.6